# cloud-config

repo_update: true
repo_upgrade: all
packages:
  - apache2

runcmd:
  - systemctl start apache2
  - systemctl enable apache2
  - [sh, -c, 'echo "Hello World from Terraform AWS User Data CloudInit" > /var/www/html/index.html']

output:
  all: '| tee -a /var/log/cloudinit-output.log'